<%- include('parts/top.ejs') %>
<br/>
<br/>
<br/>
<br/>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="/uploads/<%= book.image %>" alt="">
        
      </div>
      <div class="col">
        <h1><%= book.title %></h1><h4> <%= book.author %></h4>
        <p><%= book.description %></p>

        <% if (book.pdfLink) { %>
          <p><a href="<%= book.pdfLink %>" download>Download PDF</a></p>
        <% } else { %>
          <p>No PDF available</p>
        <% } %>

      </div>
    </div>
  </div>

<%- include('parts/bottom.ejs') %>